# Compiled Object files
*.slo
*.lo
*.o
*.obj

# KEIL
*.crf
*.iex
*.html
*.d
*.uvguix.
*.uvopt
*.uvopt.back
*.uvoptx
*.uvguix
*.bak
*.htm
*.map
*.sct
*.USER
*.adc
*.veha
*.multi_000

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
